openai
requests
langchain
PyYAML
python-dotenv
tiktoken
wikipedia
youtube-transcript-api
pytube
pyowm
wolframalpha
pinecone-client
matplotlib
plotly
pandas
scipy
sklearn
scikit-learn
google-api-python-client
duckduckgo-search
beautifulsoup4
fastapi
pydantic
starlette
unstructured
nltk
